---

const { text = "Aceptar", isRounded = false } = Astro.props;

---
<button class:list = { ["bg-slate-600", "text-white", "px-2", "pt-1", "pb-2", "leading-3", "hover:bg-slate-800", "transition-colors", {rounded: isRounded}]}>
   {text}
</button>