---
const {  } = Astro.props;
---

<div class="bg-slate-200 h-auto mt-10 w-[520px] mx-auto rounded-md">
    <div class="flex justify-center">
        <div class=" w-[300px] h-1/4 rounded-md mt-10">
            <img class="rounded-lg" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/04/28/09/normal-people-0.jpg" alt="">
        </div>
        <div class="ml-5 mt-32 bg-slate-300 rounded-2xl my-3 p-2 max-w-[256px] h-20 py-4">
            <h1 class="font-semibold text-lg">Elvin</h1>
            <h1 class="font-semibold text-lg">Roosevelt</h1>
        </div>
    </div>
    <div class="flex ml-24 mt-10 pb-10">
        <ul class="">
            <li class="py-2 px-1 mt-4 font-semibold text-base  rounded-md bg-gradient-to-r from-slate-300 to-slate-200 ">| Deportista</li>
            <li class="py-2 px-1 mt-4 font-semibold text-base  rounded-md bg-gradient-to-r from-slate-300 to-slate-200 ">| Entrenador</li>
            <li class="py-2 px-1 mt-4 font-semibold text-base  rounded-md bg-gradient-to-r from-slate-300 to-slate-200 ">| Estudiante</li>
            <li class="py-2 px-1 mt-4 font-semibold text-base  rounded-md bg-gradient-to-r from-slate-300 to-slate-200 ">| Activista</li>
        </ul>
    </div>
</div>